<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Relatório de lançamentos por pessoa</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="col-12">
        <label class="mr-2">Vencimento</label>
        <p-calendar class="mr-2" [required]="true" dateFormat="dd/mm/yy" name="periodoInicio" [(ngModel)]="periodoInicio" [inputStyle]="{'width': '105px'}"></p-calendar>

        <label class="mr-2">até</label>
        <p-calendar dateFormat="dd/mm/yy" [required]="true" name="periodoFim" [(ngModel)]="periodoFim" [inputStyle]="{'width': '105px'}"></p-calendar>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Gerar" [disabled]="f.invalid"></button>
      </div>
    </form>

  </div>
</div>
