<div class="container">
  <form #f="ngForm" #pessoaForm="ngForm" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel" required minlength="5" [(ngModel)]="pessoa.nome"/>
        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>
        <app-message [control]="nome" error="minlength" text="Informe no mínimo {{nome.errors?.minlength?.requiredLength}} caractéres (atual {{nome.errors?.minlength?.actualLength}})"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro" ngModel #logradouro="ngModel" [(ngModel)]="pessoa.endereco.logradouro" required/>
        <app-message [control]="logradouro" error="required" text="Informe um logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" name="numero" ngModel #numero="ngModel" [(ngModel)]="pessoa.endereco.numero" required/>
          <app-message [control]="numero" error="required" text="Informe um número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" name="complemento" ngModel #complemento="ngModel" [(ngModel)]="pessoa.endereco.complemento"/>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" name="bairro" ngModel #bairro="ngModel" [(ngModel)]="pessoa.endereco.bairro" required/>
          <app-message [control]="bairro" error="required" text="Informe um bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99999-999" name="cep" ngModel #cep="ngModel" [(ngModel)]="pessoa.endereco.cep" required></p-inputMask>
          <app-message [control]="cep" error="required" text="Informe um cep"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text" name="cidade" ngModel #cidade="ngModel" [(ngModel)]="pessoa.endereco.cidade" required/>
          <app-message [control]="cidade" error="required" text="Informe uma cidade"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="estado" ngModel #estado="ngModel" [(ngModel)]="pessoa.endereco.estado" required/>
          <app-message [control]="estado" error="required" text="Informe um estado"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="pessoaForm.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a routerLink="/pessoas" >Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
